<header class="header is-fixed" id="pagetop">
    <div class="wrap">
        <div class="left">
            <a href="">
                <img src="./assets/images/logo final-06.png" name="" class="mimg" style="width: 200px">
            </a>
        </div>
        <div class="right">
        </div>
        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
                <div class="spnav_header">
                    <a class="">
                        <img src="./assets/images/logo final-06.png" alt="">
                    </a>
                </div>
                <h2 class="spnav_h2" style="font-family: auto;">Về Cửa Hàng Tony Mobile</h2>
                <ul class="menu_toi" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                            <li itemprop="name" class="icosty"><a href=""><img src="./assets/images/ico_tell_ss.png" alt=""></a></li>
                                            <li itemprop="name" class="icosty"><a href=""><img src="./assets/images/ico_line.png" alt=""></a></li>	
                    <li itemprop="name" class="icosty"><a href=""><img src="./assets/images/ico_mail.png" alt=""></a></li>
                </ul>

                

                
            </div>
        </div>
        <!-- <nav class="nav">
            <ul>
                <li>
                    <a class="nav01" style="font-family: auto;"><span class="icon"><img src="./assets/images/ico_search.png" alt=""></span><span class="ttl">Tìm Kiếm</span></a>
                </li>
                <li>
                    <a class="nav02" style="font-family: auto;"><span class="icon"><img src="./assets/images/ico_product.png" alt=""></span><span class="ttl">Sản Phẩm</span></a>
                </li>
                <li>
                    <a class="nav03" style="font-family: auto;"><span class="icon"><img src="./assets/images/ico_store.png" alt=""></span><span class="ttl">Tony Mobile</span></a>
                </li>
                <li>
                    <a class="nav04" style="font-family: auto;"><span class="icon"><img src="./assets/images/ico_mail_or.png" alt=""></span><span class="ttl">Liên Hệ</span></a>
                </li>
            </ul>
        </nav> -->
    </div>
</header>