<footer>
    <div class="wrap">
        <div class="bottom">
            <div class="left">
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                        <li class="tel" style="color: #ec7822; font-weight: bold;">Tony Le Mobile 株式会社</li>
                        <li class="tel">高田馬場3丁目12-8高田馬場センタービル201</li>
                        <li class="tel">Shinjuku,Tokyo</li>
                        <li class="tel">Nhật Bản 169-0075</li>
                    </ul>
                </div>

            </div>
            <!--left-->
            <div class="right">
                <div>
                    <p class="tel" style="font-size: 14px;"><a href="mailto: tonylemobile2016@gmail.com"><img
                                src="./assets/images/gmail.png" alt=""
                                style="height: 30px; width: 30px;margin-right: 15px;">tonylemobile2016@gmail.com</a></p>
                    <p class="tel" style="font-size: 14px;"><a href="tel:+81 90-4949-1368"><img
                                src="./assets/images/cellPhone.png" alt=""
                                style="height: 30px; width: 30px;margin-right: 15px;">+81 90-4949-1368</a><br></p>
                    <p class="tel" style="font-size: 14px;"><a href="tel:03-6279-1869"><img
                                src="./assets/images/phone.png" alt=""
                                style="height: 30px; width: 30px;margin-right: 15px;">03-6279-1869&nbsp;(店頭専用)</a><br>
                    </p>
                    <p class="tel" style="font-size: 14px;"><a
                            href="https://www.google.com/maps/dir/?api=1&destination=4-chōme-13+Takadanobaba,+Shinjuku+City,+Tokyo+169-0075,+Nhật+Bản">
                            <img src="./assets/images/googleMap.png"
                                style="height: 30px; width: 30px; margin-right: 10px;">高田馬場3丁目12-8高田馬場センタービル201</a><br /></p>
                    <p class="tel" style="font-size: 14px;"><a
                            href="https://www.facebook.com/TonyLeMobileTakadanobabaTokyo"><img
                                src="./assets/images/facebook.png"
                                style="height: 30px; width: 30px;margin-right: 15px;">TonyLeMobileTakadanobabaTokyo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <!--footer info-->

        <!--/footer info-->
    </div>



</footer>