<section class="sec price each" id="focused_list">
    <!-- <h2 class="ttlh2" style="font-family: auto;">Danh Mục Sản Phẩm</h2> -->
    <div class="tabs">
        <input id="cate1" type="radio" name="tab_item1" routerLink="/">
        <label class="tab_item" for="cate1">
            <font style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif">
                <font style="vertical-align: inherit;">iPhone Mới</font>
            </font>
        </label>
        <input id="cate2" type="radio" name="tab_item1" routerLink="/dien_thoai_cu" >
        <label class="tab_item" for="cate2" >
            <font style="vertical-align: inherit;">
                <font
                    style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif">
                    iPhone Cũ</font>
            </font>
        </label>

        <input id="cate3" type="radio" name="tab_item1">
        <label class="tab_item" for="cate3" routerLink="/ipad">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">iPad</font>
            </font>
        </label>
        <input id="cate4" type="radio" name="tab_item1">
        <label class="tab_item" for="cate4" routerLink="/macbook_new">
            <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Macbook Air</font>
            </font>
        </label>

        <input id="cate5" type="radio" name="tab_item1" >
        <label class="tab_item" for="cate5" routerLink="/macbookpro">
            <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Macbook Pro</font>
            </font>
        </label>

        <input id="cate6" type="radio" name="tab_item1">
        <label class="tab_item" for="cate6" routerLink="/air_pod">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Air Pods</font>
            </font>
        </label>

        <input id="cate7" type="radio" name="tab_item1">
        <label class="tab_item" for="cate7" routerLink="/apple_watch">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Apple Watch</font>
            </font>
        </label>

        <input id="cate8" type="radio" name="tab_item1">
        <label class="tab_item" for="cate8" routerLink="/sim_data">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Sim Data</font>
            </font>
        </label>

        
        <input id="cate9" type="radio" name="tab_item1" >
        <label class="tab_item" for="cate9" routerLink="/android">
            <font style="vertical-align: inherit;"> 
                <font
                    style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif;   ">
                    Điện thoại Android</font>
            </font>
        </label>

        <input id="cate10" type="radio" name="tab_item1" >
        <label class="tab_item" for="cate10" routerLink="/sanphamkhac">
            <font style="vertical-align: inherit;"> 
                <font
                    style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif;   ">
                    Sản phẩm khác</font>
            </font>
        </label>
        
        <input id="cate11" type="radio" name="tab_item1" checked="">
        <label class="tab_item" for="cate11" >
            <font style="vertical-align: inherit;"> 
                <font
                    style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif;   ">
                    Phụ Kiện</font>
            </font>
        </label>

        <input id="cate12" type="radio" name="tab_item1">
        <label class="tab_item" for="cate12" routerLink="/tonyle_mobile">
            <font style="vertical-align: inherit;"> 
                <font
                    style="vertical-align: inherit;font-family: Arial, Helvetica, sans-serif;   ">
                    Tony Le Mobile</font>
            </font>
        </label>

        <!--カテ始まり-->
        <!-- <div class="tab_content" id="cate1_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>

                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of iphone_new_less; let iphone1 of iphone_new">
                        <p>
                            <a routerLink="/detail" [state]="iphone1" [queryParams]={id:[iphone.id]}>
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">

                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>

                </ul>
            </div>
        </div> -->

        <div class="tab_content" id="cate10_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>

                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of phukien_less; let iphone1 of phukien">
                        <p>
                            <a routerLink="/detail" [state]="iphone1" [queryParams]={id:[iphone.id]}>
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new" *ngIf="iphone.new == true">New</span>
                                <span *ngIf="iphone.giamoi">
                                    <img src="./assets/images/sale2.jpeg" style="height: 40px; margin-left: 10px;">
                                </span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <!-- <span class="sales">Giảm 6,500,000 ₫
                                </span> -->

                                <span *ngIf="!iphone.giamoi" class="price">
                                    <em> {{iphone.price}}</em>
                                </span>
                                <span *ngIf="iphone.giamoi" class="price1">
                                    <em1> {{iphone.giamoi}}</em1>
                                    <em1><del> {{iphone.price}}</del></em1>
                                </span>
                            </a>
                        </p>
                    </li>

                </ul>
            </div>
        </div>



        

    </div>



</section>
