<section class="sec each">

  <article class="kaitori_article">
    <h2 class="ttlh2">{{name}}</h2>


    <div class="item_detail">

      <figure>
        <!-- <img src="https://kaitori-rudeya.com/product/image/2" alt="Nintendo Switch バッテリー強化版 ネオン買取画像"> -->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol> -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <!-- <div class="item active" *ngIf="data.video != null">

              <iframe width="100%" height="300px" [src]="data.video"
                frameborder="0" style="border:none;overflow:hidden" scrolling="no" allowTransparency="true"
                allowFullScreen="true"></iframe>

            </div> -->

            <div class="item active" *ngIf="image1 != null">
              <img [src]="image1" width="100%" (click)="show()" id="imageresource">
            </div>
            <div class="item" *ngIf="image2 != null">
              <img [src]="image2" width="100%" (click)="show1()" id="imageresource1">
            </div>
            <div class="item" *ngIf="image3 != null">
              <img [src]="image3" width="100%" (click)="show2()" id="imageresource2">
            </div>
            <div class="item" *ngIf="image4 != null">
              <img [src]="image4" width="100%" (click)="show3()" id="imageresource3">
            </div>
            <div class="item" *ngIf="image5 != null">
              <img [src]="image5" width="100%" (click)="show4()" id="imageresource4">
            </div>
            <div class="item" *ngIf="image6 != null">
              <img [src]="image6" width="100%" (click)="show5()" id="imageresource5">
            </div>
            <div class="item" *ngIf="image7 != null">
              <img [src]="image7" width="100%" (click)="show6()" id="imageresource6">
            </div>
            <div class="item" *ngIf="image8 != null">
              <img [src]="image8" width="100%" (click)="show7()" id="imageresource7">
            </div>
            <div class="item" *ngIf="image9 != null">
              <img [src]="image9" width="100%" (click)="show8()" id="imageresource8">
            </div>
            <div class="item" *ngIf="image10 != null">
              <img [src]="image10" width="100%" (click)="show9()" id="imageresource9">
            </div>


            <!-- <iframe width="100%" height="300px" [src]="trustedDashboardUrl|safe:'url'" frameborder="0" style="border:none;overflow:hidden"
                scrolling="no" allowTransparency="true" allowFullScreen="true"></iframe>  -->

            <!-- <iframe src={{data.video|safe:url}} width="500" height="889" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
            <!-- <iframe width="420" height="345" src="assets/images/video463238c2-4e56-4b23-b813-a363d70f5b30video.mp4">
                </iframe> -->
            <div class="item" *ngIf="video != null">
              <video width="100%" height="320" loop id="myVideo"  controls>
                <source [src]="video" type="video/mp4">
                <source [src]="video" type="video/ogg">
              </video>
              <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(video)" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="clipboard-write; encrypted-media; picture-in-picture; web-share" ></iframe> -->
            
              <!-- <iframe width="100%" height="300px" [src]="sanitizer.bypassSecurityTrustResourceUrl(video)"
              frameborder="0" style="border:none;overflow:hidden" scrolling="no" allowTransparency="true"
              allowFullScreen="true"></iframe> -->
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </figure>
      <div class="exp">
        <ul>
          <li style="font-family: Arial, Helvetica, sans-serif;   ">{{summary}}
          </li>
          <li style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; white-space:pre-line">{{details}}
          </li>
          <li style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">{{remarks}}</li>
          <li style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">{{guarantee}}</li>
          <li style="color: #ec7822;   "><span *ngIf="giamoi">{{giamoi}} <del>{{price}}</del></span><span *ngIf="!giamoi">{{price}}</span></li>
        </ul>

      </div>
      <div class="btn_wrap">
        <a (click)="backToLastPage()" class="btn btn_pink" style="font-family: Arial, Helvetica, sans-serif;">Về trang mua hàng</a>
      </div>



    </div>


  </article>



  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image1" id="imagepreview">
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal1 ? 'block' : 'none'" class="modal" id="imagemodal1" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide1()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image2" id="imagepreview1">
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal2 ? 'block' : 'none'" class="modal" id="imagemodal2" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide2()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image3" id="imagepreview2">
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal3 ? 'block' : 'none'" class="modal" id="imagemodal3" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide3()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image4" id="imagepreview3">
    </div>
  </div>


  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal4 ? 'block' : 'none'" class="modal" id="imagemodal4" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide4()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image4" id="imagepreview4">
    </div>
  </div>


  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal5 ? 'block' : 'none'" class="modal" id="imagemodal5" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide5()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image5" id="imagepreview5">
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal6 ? 'block' : 'none'" class="modal" id="imagemodal6" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide6()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image6" id="imagepreview6">
    </div>
  </div>

  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal7 ? 'block' : 'none'" class="modal" id="imagemodal7" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide7()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image7" id="imagepreview7">
    </div>
  </div>
  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal8 ? 'block' : 'none'" class="modal" id="imagemodal8" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide8()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image8" id="imagepreview8">
    </div>
  </div>
  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal9 ? 'block' : 'none'" class="modal" id="imagemodal9" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide9()">&times;</span>
    <!-- </button> -->
    <div class="modal-dialog">
      <img class="modal-content" [src]="image9" id="imagepreview9">
    </div>
  </div>

  <!-- <div [style.display]="showModal6 ? 'block' : 'none'" class="modal" id="myVideo" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <span aria-hidden="true" class="close" (click)="hide6()">&times;</span>

    <div class="modal-dialog" >
      <video class="modal-content" loop controls>
        <source [src]="video" type="video/mp4" id="myVideo">
        <source [src]="video" type="video/ogg">
      </video>
    </div>
  </div> -->

<!-- 
  <h5>Custom Contents</h5>
<p-galleria [(value)]="image1" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;"/>
        </div>
    </ng-template>
</p-galleria>
<div *ngIf="image1" class="p-grid" style="max-width: 400px;">
    <div *ngFor="let image of images; let index = index;" class="p-col-3" key="index">
        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)"/>
    </div>
</div> -->

</section>