<section class="sec each">
    <h2 class="ttlh2">買取ルデヤの強み</h2>
    <div class="top_about">
        <div class="menu1 mr3p">
            <h2><span class="fl">高価買取</span></h2>
            <p class="cir1">強み1</p>
            <div>
                <img src="./assets/images/toku2.jpg" alt="" class="gas">
                <p>中国への豊富な販売ルートを持つため高価買取を実現。 日々の徹底的な価格調査により、全国でもトップクラスの買取価格をお出ししております。</p>
            </div>
        </div>
        <div class="menu1">
            <h2><span class="fl">買取制限は少ない</span></h2>
            <p class="cir1">強み2</p>
            <div>
                <img src="./assets/images/toku1.jpg" alt="" class="gas">
                <p>おひとり様10台までといった制限をかける店は多いですが、買取制限をかけることは稀です。買取ルデヤは大量の買取が可能です。</p>
            </div>
        </div>
        <div class="menu1">
            <h2><span class="fl">全国から買取可能</span></h2>
            <p class="cir1">強み3</p>
            <div>
                <img src="./assets/images/toku3.jpg" alt="" class="gas">
                <p>この高値の買取を全国から郵送にて受け付けています。店頭買取も可能です</p>
            </div>
        </div>
    </div>
</section>